

/* .completeViewPortfolioDiv{
    position: absolute;
    top: 0;
    background-color: aliceblue;
} */



.completeViewPortfolioDiv h1,.completeViewPortfolioDiv h2{
    font-size: 3em;
    color: var(--primary);
}
.completeViewPortfolioDiv h3,.completeViewPortfolioDiv h4,.completeViewPortfolioDiv h5,.completeViewPortfolioDiv h6{
    color:var(--secondary);
}
.completeViewPortfolioDiv p{
    color:rgb(174, 176, 184);
    /* color: white; */
}
.completeViewPortfolioDiv{
    margin:2em;
}
.resumeProfileImageImageURI{
    height: 20em;
    width: 25em;
    border-radius: 50%;
}
.topProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.topProfile>div{
    padding: 4em;
}
.topProfile>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightTopBottomSlideText{
    margin: 0.25em;
}
.DivAboveSection{ 
    box-shadow: 0px 0px 20px var(--primary);
 }
.section{
    margin: auto;
    /* margin: 3em; */
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* box-shadow: 0px 0px 30px var(--primary); */
}
/* .bullets{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-items: start; */
    /* box-shadow: 0px 0px 20px var(--secondary); */
/* } */
.section>div{
    margin: 1em 0em;
}
.section>div>div{
    margin: 1em 0em;
}
.section>div>div>div{
    margin: 3em 0em;
}

.bulletHeader{
    /* font-size:x-large; */
    /* font-size: 2em; */
    display: block;
    text-align: center;
    /* color: var(--secondary); */
}
.topprofileCSSreplacedbullt{
    justify-content: center;
    justify-items: center;
}
.contactMe{
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contactMe>div{
    padding: 4em;
    /* border: 2px solid green; */
}
/* .contactMeCaptions>p{
    margin-bottom: 3em;
} */
.contactMeCaptions{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}
.contactMeCaptions>p{
    font-size: xx-large;
    margin-bottom: 1em;
}
.contactMeCaptions>.icon{
    font-size: 8em;
    color: var(--secondary);
}
.contactMeForm>form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 30em;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: start; */
}
.contactMeForm>form>input,.contactMeForm>form>div,.contactMeForm>form>textarea,.contactMeForm>form>button{
    margin: 1em;
}
.contactMeForm>form>input,.contactMeForm>form>textarea{
    height: 2em;
    /* width: 20em; */
    border-radius: 1em ;
}
.contactMeForm>form>textarea{
    resize: vertical;
    height: 5em;
}
.contactMeForm>form>button{
    width: 10em;
    margin: auto;
}

@media screen and (max-width:900px) {
    .topProfile>div{
        padding: 1em;
    }
    .contactMe>div{
        padding: 1em;
    }
    .contactMeForm>form>input,.contactMeForm>form>div,.contactMeForm>form>textarea{
        margin: 1em 0em;
    }
    .contactMeForm>form>button{
        margin: auto;
    }
}
@media screen and (max-width:700px) {
    .completeViewPortfolioDiv h1,.completeViewPortfolioDiv h2{
        font-size: 2em;
    }
    .contactMe{
        flex-direction: column;
    }
    .contactMe{
        margin: 1em;
        width: 90%;
    }
    .contactMeForm>form{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .topProfile{
        flex-direction: column;
    }
    .resumeProfileImageImageURI{
        width: 100%;
    }
}