
.OptionsToHelp{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 400px;
}
.OptionsToHelp button{
    flex: 50%;
}
.OptionsToHelp a{
    text-decoration: none;
    color: var(--text);
}
.shiftToBottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}