.portfolioDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.portfolioDiv>button{
    padding: 1em;
}
.goToPortfolio{
    flex: 1;
    /* height: 3em; */
}
.edit{
    background-color: green;
    flex: 0.10;
}
.portfolioDiv>button:hover{
    transform: scale(0.9);
}
.kill{
    flex: 0.25;
    background-color: rgb(247, 51, 51);
    /* height: 3em; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.kill>p{
    margin-right: 3px;
}
.createAnotherDiv{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.createAnotherDiv>a{
    text-decoration: none;
    color: var(--secondary);
    font-size: larger;
}
.createAnotherDiv>a:hover,.createAnotherDiv>a:active{
    color: var(--primary);
}
@media screen and (max-width:430px) {
     /* .portfolioDiv{ */
        /* flex-direction: column; */
        /* box-shadow: 0px 0px 10px var(--secondary); */
    /* } */
    .portfolioDiv>button{
        height: 5em;
        /* width: 100%; */
    } 
}
@media screen and (max-width:350px) {
    .portfolioDiv{
        flex-wrap: wrap;
    }
    .portfolioDiv>.goToPortfolio{
        flex: 100%;
    }
    .kill,.edit{ 
        flex: 50%;
     }
}