.mainSignDiv{
    width: 80%;
    max-width: 20em;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 0px 0px 20px var(--primary);
    border-radius: 1em;
}
.mainSignDiv>h1 ,.changesign{
    display:block;
    text-align: center;
}
.changesign>a{
    text-decoration: none;
    color: var(--primary);
}
.inputfields{
    display: flex;
    margin: 1em;
    padding: 1em 2em;
    flex-direction: column;
}
.inputfields input,h4{
    margin-top: 1em;
}
.inputfields input{
    border-radius: 5px;
    padding-left: 0.5em;
}
.inputfields input:focus{
    outline: none;
    border: var(--secondary);
}
.submitBtn{
    background-color: var(--primary);
    padding:0.5em;
    /* width: 60%; */
    margin: auto;
}
.submitBtn:hover{
    background-color: var(--secondary);
    box-shadow: 2px 2px var(--primary);
}
/* Comment below if did not like */
.submitBtn:hover{
    transform: scale(1.3);
    transition-duration: 500ms;
}