
.section1Home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - 50px);    
}
#img1{
    height: calc(100vh - 50px);
    border-radius: 50%;
}
.headMainTextDiv h1{
    margin-top: 2em;
}
.section2Home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: calc(100vh - 50px);
    /* background-image: ; */
}

.personRaysIcon{
    display: inline;
    width: 80%;
    margin: auto;
    height: 100px;
}

.section3Home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: calc(100vh - 50px);
}
.section3Home button{
    min-width: 100px;
    width: 20%;
    margin: auto;
}

.section3Home a{
    text-decoration: none;
    color: var(--text);
}

@media screen and (max-width:800px) {
    .section1Home{
       flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .completeHome{
        background-image: none !important;
    }
    .completeHome h1{
        font-size: medium;
    }
    .completeHome h2{
        font-size: medium;
    }
    .section1Home{
    flex-direction: column;
    }
    .headMainTextDiv{
/*         border: 2px solid red; */
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .img1Div{
    width: 100%;
    }
    #img1{
    max-width: 80%;
    margin: 0em 2em;
    }
    .section3Home button{
        margin: 1em auto;
    }
}

