body{
    background: rgba(0, 0, 0, 0.945);
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --primary:rgb(99, 19, 226);
    --secondary:rgb(153, 114, 216);
    --text:aliceblue;
}
button{
    margin-top: 1em;
    padding: 0.3em;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 5px;
}
/* Written separately in case if want to use later */
button:hover{
    /* background-color: rgb(153, 114, 216); */
    transform: scale(1.3);
    transition-duration: 500ms;
}
button:hover{
    background-color: var(--secondary);
    box-shadow: 2px 2px var(--primary);
}
input{
    border-radius: 5px;
    padding-left: 0.5em;
}
input:focus{
    outline: none;
    border: var(--secondary);
}
.loaderDiv{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.945);
    /* background-color: rgba(0, 0, 0, 1); */
}
.loaderImg{
    margin:auto;
}
